.PC-menu {
  display: none;
}
.pfix {
  width: 100%;
}

.drawer-hidden {
  display: none;
}
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;

}

.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #252525;
  transition: 0.5s;
  position: absolute;
}

.drawer-open span:before {
  bottom: 8px;
}

.drawer-open span:after {
  top: 8px;
}

#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}

#drawer-check:checked ~ .nav {
  right: 50%;
}


.nav {
  height: fit-content;
  width: 50%;
  position: fixed;
  top: 0;
  right: 100%;
  background: rgba(99, 99, 99,.95);
  z-index: 99;
  transition: .5s;
}
.nav ul {
  margin: 0;
  margin-top: 100px;
  padding: 0;
}
.nav ul li{
  height: calc(60vh/5);
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
.nav ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 25px;
  transition: .3s background-color;
}


.nav-service:hover {
  background-color: #99CACB;
}
.nav-skill:hover {
  background-color: #C2CB99;
}
.nav-works:hover {
  background-color: #CBAF99;
}
.nav-about-me:hover {
  background-color: #99AECB;
}
.nav-contact:hover {
  background-color:#CB9999;
}






/* header */
header {
  height: 500px;
  background-image: url(watercolour-4116932_1280.png);
  background-size: cover;
  width: 100%;
  padding-top: 30px;
}

.top-box {
  width: 280px;
  height: 220px;
  background-color:#f4a460;
  vertical-align: middle;
  display: table-cell;
  box-shadow: 6px 6px 6px #00000017;
}
.top-border {
  width: 260px;
  height: 170px;
  vertical-align: middle;
  display: table-cell;
  border: 1px solid #ffffff;
  border-left: none;
}

.top-box h1,
.top-box h2 {
  color: #ffffff;
  font-weight: 100;
  margin-left: 20px;
}

.top-box h1 {
  font-size: 25px;
}

.top {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.top-box h2 {
  font-size: 20px;
  margin-top: 15px;
}

.top-box2 {
  background: #ffffff;
  width: 280px;
  height: 80px;
  padding-left: 10px;
  box-shadow: -10px 15px 2px#CB9999;
}

.top-box2 h2 {
  font-family: "UD 繝�ず繧ｿ繝ｫ 謨咏ｧ第嶌菴� N-R", serif;
  font-size: 20px;
  font-weight: 100;
  padding: 15px 0 5px 0;
  color: #585858;
}

.top-box2 h3 {
  font-size: 14px;
  color: #585858;
  font-weight: 100;
}

.top-box {
  animation: slidein 1.6s;
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.top-box2 {
  animation: slidein2 1.6s;
}
@keyframes slidein2 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}



/* main */
main {
  margin-top: 50px;
  margin-bottom: 150px;
  text-align: center;
}

main h1 {
  /* font-size: 30px; */
  font-size: 2.5em;
  color: #707C74;
  text-shadow: 6px 6px 6px #00000036;
  margin: 40px 0;
  font-weight: 100;
}

main h2 {
  font-size: 21px;
  font-family: "貂ｸ譏取悃";
  font-weight: normal;
  color: #585858;
}

main h3 {
  font-family: "貂ｸ譏取悃";
  font-family: 16px;
  font-weight: normal;
  margin-bottom: 30px;
  color: #585858;
}

main section {
  box-shadow: 0px 3px 6px #00000036;
  width: 90%;
  margin: auto;
  padding: 20px 20px;
  border-radius: 20px;
}



/* ========================
---------Service--------
======================== */
.service {
  background-color: #C8DEDE;
}

.service img {
	width: 50%;
}
.list1 h2 {
	padding-bottom:15px;
	padding-top:10px;
}
.list2 h2 {
	padding-bottom:15px;
	padding-top:10px;
}
.service p {
  margin-bottom: 30px;
}

.list3 h2 {
	margin-bottom: 15px;
	padding-top:10px;
}


/* skill */
.skill {
  background-color: #DEE2CE;
  margin-top: 50px;
	padding-bottom: 100px;
}
.skill p{
	margin:10px 0 30px 0;
}

.skill img {
  width: 20%;
	margin-bottom: 20px;
	margin-top:15px;
}





 /* works */
.works {
  background-color: #DFD2C9;
  margin-top: 50px;
  padding-bottom: 100px;
}

.works-area {
  width: 100%;
  max-width: 600px;
  height: 100%;
  overflow: hidden;
  margin: 10px auto;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
}

.works-area img {
  width: 90%;
}
.works-area .caption {
  font-size: 1rem;
  color: #fff;
  padding: 20px;
  font-family:  "貂ｸ譏取悃";
}
.caption .left {
  margin-top: 20px;
}
.works-area .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.849);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.works-area:hover .mask {
  opacity: 1; 
  padding-left: 0px;
}
.works a {
  color: #313131;
  border-bottom: 1px solid#585858;
  font-family: "貂ｸ譏取悃";
  transition: .1s font-weight, .1s border-bottom;
  font-size: 1rem;
}
.works a:hover {
  font-weight: 500;
  border-bottom: 2px solid #585858 ;
}
.works a:active{
  font-weight: 500;
  border-bottom: 2px solid #585858 ;
}



/* about me */
.about-me {
  background: #CED6E2;
  margin-top: 50px;
  padding-bottom: 100px;
}
.my-img {
	margin-right:10px;
}
.my-img img {
  width: 70%;
	max-width: 300px;
	border-radius: 50%;
}
.my-text img {
  width: 40px;
}
.my-text h3 {
  font-weight: bold;
}
.my-text a {
  vertical-align: middle;
  margin-left: 10px;
  transition: .3s opacity;
}
.my-text a:hover {
  opacity: 0.8;
}
.my-text p {
  margin-bottom: 20px;
  line-height: 1.8;
}



/* contact */
.contact {
  background: #E2CECE;
  margin-top: 50px;
  padding-bottom: 80px;
}
.contact img {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.contact a {
  font-family: "貂ｸ譏取悃";
  color: #000000;
  font-size: 1.3rem;
  transition: .3s border-bottom, .3s font-weight;
}
.contact a:hover {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}
.contact p {
  margin: 30px 0;
  line-height: 1.8;
}



/* footer */
footer {
  height: 370px;
  background-image: url(watercolour-4116932_1280.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.footer-nav {
  background: #fff;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-nav li {
  list-style: none;
  align-self: center;
}
.footer-nav li a {
  color: #585858;
  font-size: 1.5rem;
  transition: .3s color;
}
.footer-nav ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,60px);
  text-align: center;
  gap: 10px 20px;
}
.footer-nav a:hover {
  color: #99AECB;
  border-bottom: 1px solid #99AECB;
}













/* phone*/
@media screen and (min-width: 650px) {



/* ========================
---------header--------
======================== */
  .top-box {
    width: 400px;
    height: 250px;
  }

  .top-border {
    width: 370px;
    height: 200px;
    padding-left: 20px;
  }

  .top-border h1 {
    padding-bottom: 10px;
  }

  .top-box h1 {
    font-size: 30px;
  }

  .top-box2 {
    background: #ffffff;
    width: 350px;
    height: 80px;
    padding-left: 20px;
  }


  /* ========================
---------Service--------
======================== */
  .service {
    margin-top: 60px;
  }

  .service img {
    width: 200px;
  }


  /* ========================
---------skill--------
======================== */
  .skill .PC-skill {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,100px);
    gap: 60px 0;
  }

  .skill img {
    margin: auto;
  }



/* ========================
---------Works--------
======================== */
.mask {
  position: relative;
}
.caption {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}


/* ========================
--------About Me-------
======================== */
.my-text {
  width: 80%;
  margin: auto;
}
}






/*pad*/
@media screen and (min-width: 900px) {


/* ========================
---------header--------
======================== */
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-box {
    width: 500px;
    height: 360px;
    position: relative;
  }

  .top-border {
    width: 480px;
    height: 310px;
    position: absolute;
    top: 6%;
    padding-left: 0;

  }

  .top-border h1 {
    font-size: 3rem;
    margin-top: 50px;
  }

  .top-border h2 {
    font-size: 26px;
  }

  .top-box2 {
    width: 400px;
    height: 120px;
    padding-top: 18px;
  }

  .top-box2 h2,
  .top-box2 h3 {
    font-size: 20px;
  }



.drawer{
  display: none;
}

.PC-menu {
  display: block;
  position: absolute;
  top: 500px;
  width: 100%;
}

.PC-menu ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.PC-menu ul li {
  list-style-type: none;
  text-align: center;
  width: calc(100%/5);
}

.PC-menu ul li a {
  color: #ffffff;
  font-size: 30px;
  display: block;
  width: 100%;
  padding: 25px 0;
}

.PCmenu-service {
  background-color: #99CACB;
  transition:  .3s background-color;
}
.PCmenu-service:hover {
  background-color: #5e7d7e;
}

.PCmenu-skill {
  background-color: #C2CB99;
  transition:  .3s background-color;

}
.PCmenu-skill:hover {
  background-color: #8b926c;
}

.PCmenu-works {
  background-color: #CBAF99;
  transition:  .3s background-color;

}
.PCmenu-works:hover {
  background-color: #8b7767;
}

.PCmenu-about-me {
  background-color: #99AECB;
  transition:  .3s background-color;

}
.PCmenu-about-me:hover {
  background-color: #677588;
}

.PCmenu-contact {
  background-color:#CB9999;
  transition:  .3s background-color;

}
.PCmenu-contact:hover {
  background-color:#805f5f;
}



/* ========================
---------Service--------
======================== */
main {
  margin-top: 170px;
}

main h1 {
  font-size: 65px;
}

main section {
  width: 85%;
  border-radius: 40px;
}

.service .PC-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PC-size div {
  width: calc(100%/3);
}

.service img {
  width: 170px;
}

.service .list1,
.service .list2,
.service .list3 {
  height: 470px;
}

.service .list1 p {
  width: 85%;
  margin: auto;
}



/* ========================
--------About Me-------
======================== */
.PC-me {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-img img {
  width: 200px;
  margin-right: 20px;
}
.my-text {
  width: 580px;
  margin: 0;
  text-align: left;
}



/* ========================
--------contact------
======================== */
.contact a {
  font-size: 2rem;
}



/* ========================
----------footer--------
======================== */
footer {
  height: 160px;
}
.footer-nav {
  height: 50%;
  max-width: 900px;
}
.footer-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
}
}




  /* pc*/
  @media screen and (min-width: 1200px) {


/* ========================
---------header--------
======================== */
    .top-box {
      width: 600px;
      height: 400px;
    }

    .top-border h1 {
      font-size: 65px;
      margin-top: 70px;
      margin-left: 50px;
    }

    .top-border h2 {
      margin-left: 50px;
    }

    .top-border {
      width: 580px;
      height: 360px;
    }

    .top-box2 {
      width: 530px;
      height: 120px;
      padding-left: 50px;
    }


/* ========================
---------Service--------
======================== */
main h2 {
  font-size: 30px;
}

main h3,
main p {
  font-size: 18px;
}

.service img {
  width: 180px;
}

.service .list1 p {
  width: 90%;
  margin: auto;
}



/* ========================
---------Skill--------
======================== */
.skill h3 {
  font-size: 30px;
}
.skill .PC-skill {
  gap: 40px 0;
}



/* ========================
---------About Me-------
======================== */
.my-img img {
  width: 250px;
  margin-right: 50px;
}

}
